{% extends "base.html" %}
{% block content %}
<h1>About Me</h1>
<h2>Xin chào người đọc </h2>
<div class="container" style="width: 80%">
<p>Tôi tên Hưng sinh năm 1997 và sinh sống và học tập ở sài gòn, tôi hiện đang là sinh viên theo đang nghành công nghệ thông tin nhưng thật sự tôi không cảm thấy thích thú với ngành này trong hầu hết khoảng thời gian học tập tại trường. Cho đến khi tôi có tìm hiểu về ngôn ngữ Python và đã may mắn đăng ký được khoá học về ngôn ngữ này tại https://pymi.vn/ do thầy Nguyễn Việt Hùng không chỉ giảng dạy mà còn là người truyền cảm hứng cho tôi rất nhiều về ngành này nói chung hay là về ngôn ngữ này nói riêng.
</p>
<br>
<p>Rất nhiều kiến thức mà một khoá học không thể khai thác hết từ thầy do những hiểu biết của tôi còn giới hạn rất nhiều. chỉ khi bạn tham gia khoá này bạn mới có thể nào hiểu được thế nào là câu nói hổ trợ tận răng cho học viên khi đã hoàn thành khoá học. Nói như vậy chứ thật sự việc hoàn thành khoá học thật sự khó với tôi, tôi đã mất nhiều tháng để tìm hiểu về BeautifulSoup, Selenium là dụng cụ để thu thập dữ liệu, ngoài ra không thể không nhắc tới Scrapy là một framwork mạnh về mảng này.
</p>
<br> 
<p>
Sau đó tôi bắt đầu tìm hiểu về Flask là một Web Framework của python và đã làm được một blog đâu tiên cho mình.Tương lai mình sẽ tìm hiểu về Django để nâng cao kiến thức về bản thân. thật sự khi tôi càng tìm hiểu thì tôi càng bị ngợp trong một bể nước "kiến thức". lúc đầu tôi thật sự gặp rất nhiều khó khăn về việc đọc tài liệu mà lại còn là tiếng anh, nó quá khó với tôi vì tôi khá tệ với môn tiếng anh nhưng tôi đã cố gắng khắc phục được phần sở đoản này của chính mình nó giúp tôi cảm thấy tốt hơn rất nhiều.
</p>
<br>
<p>
Một lần nữa tôi xin cảm ơn thầy Hùng đã cho tôi một công cụ (Python) để có thể tìm hiểu đến những kiến thức một cách đơn giản nhất và quan trọng hết là đã giúp tôi nhận ra tôi muốn gì và thật sự muốn làm gì, cài mà tôi không thể tìm được khi khi còn học ở môi trường đại học. 
Đây là lần đầu tiên tôi viết bài đọc này và có thể sau này có thể tôi sẽ viết nhiều hơn không chỉ những dòng tâm sự này mà còn về những kiến thức tôi tìm hiểu được trong tương lai.
</p>
</div>
{% endblock %}